html {
  background-color: rgb(174, 169, 169);
}
div {
  position: relative;
  width: 276px;
  border-radius: 12px;
  background-color: white;
  padding: 0;
  margin: 0 auto;
}
#maistas {
  width: 276px;
  height: 176px;
  border-radius: 12px 12px 0 0;
}
#jan {
  position: relative;
  width: 56px;
  height: 56px;
  top: -30px;
  left: 204px;
  box-shadow: rgba(13, 13, 13, 0.1);
}
#Degustation {
  position: relative;
  color: #c0b9b9;
  width: 13px;
  font-size: 24px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  top: -25px;
}

#stars {
  position: relative;
  color: #111111;
  width: 250px;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  top: -25px;
}
#book {
  position: relative;
  width: 52px;
  height: 52px;
  border-radius: 200px;
}

button {
  background: none;
  border: 0;
}
