html {
  background-color: rgb(174, 169, 169);
}
div {
  position: relative;
  width: 276px;
  height: 400px;
  top: 90px;
  left: 136px;
  border-radius: 12px 12px 12px 12px;
  background-color: white;
}
#maistas {
  width: 276px;
  height: 176px;
  border-radius: 12px 12px 0 0;
}
#jan {
  position: relative;
  width: 56px;
  height: 56px;
  top: -30px;
  left: 204px;
  box-shadow: rgba(13, 13, 13, 0.1);
}
#Degustation {
  position: relative;
  color: #c0b9b9;
  width: 13px;
  height: 22px;
  font-size: 24px;
  line-height: 22px;
  size: 14px;
  left: 20px;
  font-weight: 400;
  top: -50px;
}

#stars {
  position: relative;
  color: #111111;
  width: 250px;
  height: 48px;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  size: 14px;
  left: 20px;
  top: -50px;
}
#book {
  position: relative;
  width: 52px;
  height: 52px;
  border-radius: 200px;
  top: px;
}
button {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 200px;
  top: -60px;
  border: 1px solid rgba(149, 147, 147, 1);
  left: 10px;
  right: 10px;
  margin: 10px;
}
